/* Media Queries */

/* Desktop (Large screens) */
@media (min-width: 1200px) {
    .container {
        width: 1140px;
        margin: 0 auto;
    }

    .bottom-title-text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
}

/* Tablet Landscape */
@media (min-width: 992px) and (max-width: 1199px) {
    .container {
        width: 960px;
        margin: 0 auto;
    }

    .bottom-title-text {
        display: flex;
        justify-content: space-between;
        width: 70%;
        align-items: center;
        text-align: center;
    }

    .history {
        font-size: 14px;
        padding: 2px 14px;
    }

    .main-btn {
        margin-top: 2rem;
    }

    .top-box-title-text::after {
        height: 900px;
        margin: 70rem auto 5rem auto;
    }

}

/* Tablet Portrait */
@media (min-width: 768px) and (max-width: 991px) {
    .container {
        width: 720px;
        margin: 0 auto;
    }

    .main-img {
        position: absolute;
        width: 52%;
        top: 10px;
        right: 0;
        max-width: 70%;
        z-index: 0;
    }

    .img-text{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 50px 0 0 0;
        z-index: 1;
    }

    .img-text > p {
        position: absolute;
        bottom: 60px;
        right: 0;
        width: 100%;
    }

    .history {
        z-index: 5;
        font-size: 12px;
        right: 0;
        top: 0;
        padding: 1px 10px;
    }

    .main-btn {
        margin-top: 15rem;
    }

    .navigation a {
        font-size: 1em;
        margin-left: 20px;
    }

    .card-wrapper {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .box{
        font-size: 0.9rem;
        line-height: 5px;
    }

    .box-wrapper {
        grid-template-columns: 1fr 1fr;
    }

    .top-box-title-text::after {
        height: 900px;
        margin: 72rem auto 5rem auto;
    }

    .bottom-title-text {
        display: flex;
        justify-content: space-between;
        width: 70%;
        align-items: center;
        text-align: center;
    }
}

/* Mobile Devices */
@media (max-width: 767px) {

    header {
        padding: 10px 0 20px;
    }

    .history{
        font-size: 14px;
        padding: 2px 14px;
        top: 0;
    }

    .navigation {
        display: none;
    }

    .menu_icon {
        display: block;
        position: fixed;
        top: 15px;
        right: 15px;
        z-index: 2;
    }

    .tab-bar__tab {
        padding: 10px;
    }

    .main-img {
        max-width: 100%;
    }

    .top-main {
        flex-direction: column;
        align-items: center;
    }

    .img-text {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
        padding: 20px;
    }

    .main-btn {
        width: 150px;
        font-size: 16px;
        margin: 10px 0 0 0;
    }

    .card-wrapper {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .box-wrapper {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .bottom-title-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        text-align: center;
    }

    .bottom-title-text-info2 {
        display: none;
    }

    #bottom-title-text-info {
        padding-top: 40px;
        display: block;
    }

    #box-num-3 {
        margin-top: 120px;
    }

    .top-box-title-text::after {
        display: none;
    }

    .skills-section {
        padding: 10px;
    }

    .skill {
        margin: 10px 0;
    }

    form input,
    form textarea {
        font-size: 1em;
    }

    form button {
        width: 100%;
        margin-bottom: 10px;
        margin-right: 0;
    }

    .contact-info {
        height: auto;
        width: 50%;
        margin: 2rem auto;

    }
    .email svg , .phone svg {
        width: 30px;
        height: 30px;
    }
    .phone , .email{

        font-size: 16px;
    }
    .info a{
        font-weight: 500;
    }
}

/* Max-width 571px */
/* Adjustments for very small screens */
@media (max-width: 571px) {
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    .container {
        width: 100%;
        padding: 1rem;
        margin: 0;
    }

    main .container {
        width: 100%;
        margin: 0 auto;
        padding: 3rem;
        color: #333333;
    }
    body {
        font-size: 14px;
    }

    .navigation a {
        font-size: 0.8em;
        margin-left: 20px;
    }

    .history{
        font-size: 10px;
        padding: 0 4px;
        margin: -12px;
    }

    .main-btn {
        display: none;
    }

    .img-text h1 {
        font-size: 1.8em;
    }

    .img-text h2 {
        font-size: 1.3em;
    }

    .img-text h3 {
        margin: 18px auto 0;
        font-size: 1.7em;
        width: 80%;
    }

    .img-text p {
        font-size: 1.04em;
        align-items: flex-start;
        text-align: right;
        margin-bottom: -25px;
        line-height: 1.4;
    }


    .card-wrapper {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .box-wrapper {
        grid-template-columns: 1fr;
    }

    form button {
        font-size: 0.8em;
        padding: 8px;
        width: 100%;
    }

    .contact-info {
        width: 100%;
        padding: 15px;
        font-size: 0.9em;
    }

    .bottom-title-text {
        font-size: 1.4rem;
    }

    .bottom-title-text-info {
        font-size: 1.2rem;
    }

    .top-box-title-text {
        font-size: 1.6rem;
    }

    .box-wrapper {
        grid-template-columns: 1fr;
    }

    .skills-section {
        padding: 15px;
    }

    .skill-bar {
        height: 8px;
    }

    .percent {
        font-size: 10px;
    }

    form input,
    form textarea {
        font-size: 0.9em;
    }

    .contact-info {
        display: flex;
        flex-direction: column;
        margin: 2rem auto;
    }

    .email , .phone{
        display: flex;
        flex-direction: row;
        margin: 0;
    }

    .email svg , .phone svg {
        width: 20px;
        height: 20px;
        margin-bottom: 5px;
    }

    .info a , .info{
        margin: 5px 0 6px 0;
        font-weight: 500;
        font-size: 16px;
    }

    footer {
        font-size: 0.9em;
        padding: 8px 0;
    }
}

/* Max-width 450px */
@media (max-width: 450px) {
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    .container {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    main .container {
        width: 100%;
        margin: 0 auto;
        padding: 2rem;
        color: #333333;
    }

    .header-icons{
        padding: 20px;
    }

    .box,
    .card,
    .bottom-title-text,
    .img-text,
    .contact-info,
    .main-btn,
    .navigation,
    .menu_icon {
        width: 100%;
        margin: 0px;
        padding: 10px;
        box-sizing: border-box;
    }

    .main-img {
        width: 100%;
        height: auto;
    }

    .card-wrapper,
    .box-wrapper {
        grid-template-columns: 1fr;
    }

    .bottom-title-text {
        font-size: 1rem;
        text-align: center;
    }

    .skills-section,
    .contact-info {
        padding: 10px;
    }

    .email svg,
    .phone svg {
        width: 20px;
        height: 20px;
    }

    .info a,
    .info {
        font-size: 14px;
    }

    footer {
        font-size: 0.8em;
    }
}
